input {
    display: block;
    width: 50px;
    transform: scale(1.8);
    margin: 20px 0 20px 10px;
}

.playAs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.pick {
    font-size: 40px;
}

#player-X {
    font-family: 'Paytone One', sans-serif;
    font-size: 100px;
    font-weight: bolder;
    color: #4c99e6;
    margin: 20px;
    cursor: pointer;
}

#player-O {
    font-family: 'Paytone One', sans-serif;
    font-size: 100px;
    font-weight: bolder;
    color: #fc9841;
    margin: 20px;
    cursor: pointer;
}