.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 200px auto;
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.player-X {
    font-family: 'Paytone One', sans-serif;
    font-size: 100px;
    font-weight: bolder;
    color: #4c99e6;
    margin: 5px;
}

.player-O {
    font-family: 'Paytone One', sans-serif;
    font-size: 100px;
    font-weight: bolder;
    color: #fc9841;
    margin: 5px;
}

button {
    display: block;
    margin: 35px auto;
    border: none;
    outline: none;
    width: 160px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
}

button:hover {
    background-color: #306ffa;
    color: #fff;
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #4c99e6;
    background-color: white;
    width: 26px;
    border-radius: 50%;
}

#link {
    text-decoration: none;
}

.mode-text {
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 15px;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 35% auto;
    }

    .mode-text {
        font-size: 25px;
        margin: 0px;
    }
}